In [8]:
from google.colab import drive
import pandas as pd

In [6]:
# import data
drive.mount('/content/drive')
!unzip "/content/drive/MyDrive/default+of+credit+card+clients.zip" -d "/content/drive/MyDrive/Credit_data/"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Archive:  /content/drive/MyDrive/default+of+credit+card+clients.zip
  inflating: /content/drive/MyDrive/Credit_data/default+of+credit+card+clients/default of credit card clients.xls

In [9]:
# read data
credit_data = pd.read_excel('/content/drive/MyDrive/Credit_data/default+of+credit+card+clients/default of credit card clients.xls')

In [11]:
# display the first few rows of the data
print(credit_data.head())

  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0

[5 rows x 25 columns]

In [13]:
# summary statistics of the data
print(credit_data.describe())

       Unnamed: 0     X1     X2     X3     X4     X5     X6     X7     X8  \
count       30001  30001  30001  30001  30001  30001  30001  30001  30001
unique      30001     82      3      8      5     57     12     12     12
top            ID  50000      2      2      2     29      0      0      0
freq            1   3365  18112  14030  15964   1605  14737  15730  15764

           X9  ...    X15    X16    X17    X18    X19    X20    X21    X22  \
count   30001  ...  30001  30001  30001  30001  30001  30001  30001  30001
unique     12  ...  21549  21011  20605   7944   7900   7519   6938   6898
top         0  ...      0      0      0      0      0      0      0      0
freq    16455  ...   3195   3506   4020   5249   5396   5968   6408   6703

          X23      Y
count   30001  30001
unique   6940      3
top         0      0
freq     7173  23364

[4 rows x 25 columns]
       Unnamed: 0     X1     X2     X3     X4     X5     X6     X7     X8  \
count       30001  30001  30001  30001  30001  30001  30001  30001  30001
unique      30001     82      3      8      5     57     12     12     12
top            ID  50000      2      2      2     29      0      0      0
freq            1   3365  18112  14030  15964   1605  14737  15730  15764

           X9  ...    X15    X16    X17    X18    X19    X20    X21    X22  \
count   30001  ...  30001  30001  30001  30001  30001  30001  30001  30001
unique     12  ...  21549  21011  20605   7944   7900   7519   6938   6898
top         0  ...      0      0      0      0      0      0      0      0
freq    16455  ...   3195   3506   4020   5249   5396   5968   6408   6703

          X23      Y
count   30001  30001
unique   6940      3
top         0      0
freq     7173  23364

[4 rows x 25 columns]

In [15]:
# check for missing values
print(credit_data.isnull().sum())

Unnamed: 0    0
X1            0
X2            0
X3            0
X4            0
X5            0
X6            0
X7            0
X8            0
X9            0
X10           0
X11           0
X12           0
X13           0
X14           0
X15           0
X16           0
X17           0
X18           0
X19           0
X20           0
X21           0
X22           0
X23           0
Y             0
dtype: int64